{% extends "base.html" %}
{% load i18n %}

{% block title %}Barma Spain - {% trans "order" %}{% endblock %}

{% block main_title %}
	{% if order_accepted %}
	<h6>{% trans "Thank you! Your request has been accepted!" %}</h6>
	{% else %}
	<h6>{% trans "Place your offer" %}</h6>
	{% endif %}	
{% endblock %}
{% block content %}
<div id="article">
	<div id="order-form-body">
		{{ form.non_field_errors }}
		<form action="{{ request.path }}" method="post" enctype="application/x-www-form-urlencoded" class="order" id="order_form" >
			{% csrf_token %}
			<div class="row">
				<div class="error">{{ form.realty_type.errors }}</div>
				<label>{% trans "For" %}:</label>
				{{ form.realty_type }}
			</div>
			
			<div class="row">
				<div class="error">{{ form.monetization_category.errors }}</div>
				<label>{% trans "Type" %}:</label>
				{{ form.monetization_category }}
			</div>
			
			<div class="row">
				<div class="error">{{ form.contact_person.errors }}</div>
				<label>{% trans "Contact person" %}:</label>
				{{ form.contact_person }}
			</div>
			<div class="row">
				<div class="error">{{ form.phone.errors }}</div>
				<label>{% trans "Telephone" %}:</label>
				{{ form.phone }}
			</div>
			<div class="row">
				<div class="error">{{ form.email.errors }}</div>
				<label>{% trans "E-mail" %}:</label>
				{{ form.email }}
			</div>
			<div class="row">
				<div class="error">{{ form.comment.errors }}</div>
				<label>{% trans "Comments" %}:</label>
				{{ form.comment }}
			</div>
			<div class="row">
				<div class="error">{{ form.recaptcha.errors }}</div>
				<label>{% trans "Spam protection" %}:</label>
				<div id="capcha" style="float: left;margin-bottom: 1em;">
					{{ form.recaptcha }}
				</div>
			</div>
			<a class="button" href="#" style="float: right;" onclick="document.getElementById('order_form').submit()">{% trans "Apply" %}</a>
		</form>
	</div>
</div>	   
{% endblock %}

{% block maps_wiget %}
{% endblock %}