<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Barma Spain{% endblock %}</title>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.8.19.custom.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.19.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/site.js"></script>
{% block init_js %}{% endblock %}
{% load util_tags %}
{% load i18n %}
{% get_current_language as lang %}
</head>
<body>
	<div id="header">
		<div>
			<a href="/{{ lang }}/" id="logo"><img src="/static/img/barmaspain.png" /></a>
			<p id="phone_number">+7 (495) 565-36-00</p>
		</div>
	</div>
		
    {% block menu %}
	<div id="menu">
		<span class="menutext">
			<a href="/{{ lang }}/" id="{% active request "^/[^/]*/$" %}">{% trans "Home" %}</a>
			<img src="/static/img/redline_separator.png" />
			<a href="/{{ lang }}/realty/" id="{% active request "/realty/" %}">{% trans "Real Estate" %}</a>
			<img src="/static/img/redline_separator.png" />
			<a href="/{{ lang }}/order/" id="{% active request "/order/$" %}">{% trans "Place your offer!" %}</a>
			<img src="/static/img/redline_separator.png" />
			<a href="/{{ lang }}/services/" id="{% active request "/services/$" %}">{% trans "Services" %}</a>
			<img src="/static/img/redline_separator.png" />
			<a href="/{{ lang }}/about/" id="{% active request "/about/$" %}">{% trans "About us" %}</a>
			<img src="/static/img/redline_separator.png" />
			<a href="/{{ lang }}/contacts/" id="{% active request "/contacts/$" %}">{% trans "Contacts" %}</a>
			<img src="/static/img/redline_separator.png" />
			<a href="/{{ lang }}/favorites/" id="{% active request "/favorites/$" %}">♥ <span>{% trans "Bookmarks" %}</span></a>
		</span>
    </div>
    {% endblock %}
	
	<div id="main-title">
		{% block main_title %}{% endblock %}
		{% block select_currency %}
			<form action="/currency/">
				<input type="hidden" name="next" id="next" value="{{ request.get_full_path }}" />
				<select name="curr" id="header-currency" onchange="this.form.submit();">
					{% if not request.session.curr %}
					<option value="{% trans "Choose currency" %}" selected="selected" disabled="disabled">{% trans "choose currency" %}</option>
					{% endif %}
				{% for curr in CURRENCIES %}
	                <option value="{{ curr.code }}"
	                    {% ifequal curr.code request.session.curr.code %}selected="selected"{% endifequal %}>
                        {{ curr.symbol }} {{ curr.code }}
	                </option>
	        	{% endfor %}
				</select>
			</form>
			{% endblock %}
			{% block select_language %}
			<form method="POST" action="{% url localeurl_change_locale %}">
			{% csrf_token %}
			    <select id="language" name="locale" onchange="this.form.submit();">
			        {% for lang in LANGUAGES %}
			            <option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected="selected"{% endifequal %}>{% trans lang.1 %}</option>
			        {% endfor %}
			    </select>
			    <noscript>
			        <input type="submit" value="Set" />
			    </noscript>
			</form>
			{% endblock %}
	</div>
	<div id="main">
		<div id="content">
			{% block content %}{% endblock %}						
		</div>
		<div id="property-picker">
			{% block maps_wiget %}
			<div id="map">
				<h6>Location</h6>
				<div id="map_widget" style="width: 200px; height: 200px;"></div>
			</div>				
			{% endblock %}
			<form action="/{{ lang }}/search/" method="get" id="form">			
				<h6>{% trans "City" %}</h6>
				<div class="element">
					<select name="city">
						<optgroup label="Choose city:">
							<option default="default" value="">{% trans "undefined" %}</option>
							{% for city in cities %}
						    	<option>{{ city.name }}</option>
						    {% endfor %}
						</optgroup>
					</select>
				</div>

				<h6>{% trans "Price" %}
					<select name="curr" style="float: right; margin-top: 4px;">
						<optgroup label="Choose currency:">
						{% for curr in CURRENCIES %}
			                <option value="{{ curr.code }}"
			                    {% ifequal curr.code request.session.curr.code %}selected="selected"{% endifequal %}>
		                        {{ curr.symbol }} {{ curr.code }}
			                </option>
			        	{% endfor %}
						</optgroup>
					</select>
				</h6>
				<div class="element">
					<div id="price-range"></div>
					<input type="text" id="price-min" name="price_from" style="border:0; font-weight:bold;" value="{{ price_min|floatformat:0 }}" />
					<input type="text" id="price-max" name="price_to" style="border:0; font-weight:bold;" value="{{ price_max|floatformat:0 }}" />
				</div>				
				<h6>{% trans "Total area" %}, {% trans "m" %}&sup2;</h6>
				<div class="element">
					<div id="surface-range"></div>	
					<input type="text" id="surface-min" name="space_from" style="border:0; font-weight:bold;" value="{{ space_min|floatformat:0 }}" />
					<input type="text" id="surface-max" name="space_to" style="border:0; font-weight:bold;" value="{{ space_max|floatformat:0 }}" />
				</div>

				<h6>{% trans "Rooms" %}</h6>
				<div class="element" id="rooms">
					<label>{% trans "Total rooms" %}</label>
					<select name="room">
						<option value="">{% trans "any" %}</option>
				    {% for room in rooms %}
				    	<option>{{ room.count }}</option>
				    {% endfor %}
					</select>
					<br />
					<label>{% trans "Bedrooms" %}</label>
					<select name="bed">
						<option value="">{% trans "any" %}</option>
				    {% for bedroom in bedrooms %}
				    	<option>{{ bedroom.count }}</option>
				    {% endfor %} 
					</select>
					<br />
					<label>{% trans "Bathrooms" %}</label>
					<select name="bath">
						<option  value="">{% trans "any" %}</option>
				    {% for bathroom in bathrooms %}
				    	<option>{{ bathroom.count }}</option>
				    {% endfor %}
					</select>
				</div>
				<h6>{% trans "Address" %}</h6>
				<div class="element">
					<input type="text" name="addr" />
				</div>
				<a class="button" href="javascript:void(0);" onclick="document.getElementById('form').submit()">{% trans "Search" %}</a>
			</form>
		</div>
	</div>
	<div style="clear: both;"></div>
	<div id="footer">
		<hr />
		<div id="secondary-menu">
			<ul>
				<li><a href="/{{ lang }}/">{% trans "Home" %}</a></li>
	            <li><a href="/{{ lang }}/realty/">{% trans "Real Estate" %}</a></li>
	            <li><a href="/{{ lang }}/order/">{% trans "Place your offer" %}</a></li>
        		<li><a href="/{{ lang }}/services/">{% trans "Services" %}</a></li>
				<li><a href="/{{ lang }}/about/">{% trans "About us" %}</a></li>
				<li><a href="/{{ lang }}/contacts/">{% trans "Contacts" %}</a></li>           
			</ul>
		</div>
		<p>&copy; 2012 Barmaspain</p>
	</div>	
</body>
</html>		