{% extends "base.html" %}

{% block title %}Barma Spain - {{ flatpage.title }}{% endblock %}

{% block content %}
<div id="article">
	<div>
		<h1>{{ flatpage.title }}</h1>
		{{ flatpage.content }}
	</div>
</div>
{% endblock %}

{% block maps_wiget %}
{% endblock %}