{% if request.session.curr %}
	{% load currency %}
{% endif %}
{% load i18n %}
{% load util_tags %}
<div class="items-list-block">
	<a href="/{{ lang }}/realty/{{ realty.slug }}" class="button details">{% trans "Details" %}</a>
	{% if realty.thumbnail %}
	{% load thumbnail %}
	<div class="items-list-thumb">
		<a href="/{{ lang }}/realty/{{ realty.slug }}">
			<img src="{% thumbnail realty.thumbnail 115x95%}" />
		</a>		
	</div>
	{% endif %}
	<div class="items-list-text">
		<h1><a href="/{{ lang }}/realty/{{ realty.slug }}">{{ realty.name }}</a>
			<span>
			{% if not request.session.curr %}
				{{ realty.currency.symbol }} {{ realty.price|floatformat:0|intspace }}
			{% else %}
				{{ request.session.curr.symbol }} {{ realty.price_unified|currency:request.session.curr|floatformat:0|intspace }}
			{% endif %}
			</span>
		</h1>
		<h6>{{ realty.address }}</h6>
		{% if realty.description %}
		<p>
			{{ realty.description }}
		</p>
		{% endif %}
	</div>
</div>