{% extends "base.html" %}

{% block title %}Barma Spain - {{ realty.name }}{% endblock %}
{% load i18n %}
{% load util_tags %}

{% block init_js %}
	{% if realty.geolocation %}			
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=ru"></script>
		<script type="text/javascript" src="/static/js/maps.js"></script>
		<script type="text/javascript">
			window.onload = initialize;
			function initialize() {
				show_map_wiget([[{{ realty.geolocation }}, "/{{ LANGUAGE_CODE }}/realty/{{ realty.slug }}/"]])	
			}
		</script>
	{% endif %}
	<script type="text/javascript" src="/static/js/coin-slider.js"></script>
	<script>
		$(document).ready(function() {
			$("ul.tabs").tabs("div.panes > div");
			$('#coin-slider').coinslider({width: 600, height: 337, links:false});

			$("a[rel]").overlay({mask: '#000', effect: 'default'});
			{# if the form is not being edited #}
			{% if form.is_bound %}
			$("a[rel='#submit']").click();
			{% endif %}
		});
	</script>
{% endblock %}

{% block content %}

{% block main_title %}
	{% if recall_accepted %}
		<h6>{% trans "Thank you! Your request has been accepted!" %}</h6>
	{% endif %}
{% endblock %}

<div id="featured-item">
	<div id="featured-description">
		<h1><a href="/{{ lang }}/realty/{{ realty.slug }}/">{{ realty.name }}</a></h1>
		<h2>
			{% if not request.session.curr %}
				{{ realty.currency.symbol }} {{ realty.price|floatformat:0|intspace }}
			{% else %}
				{% load currency %}
				{{ request.session.curr.symbol }} {{ realty.price_unified|currency:request.session.curr|floatformat:0|intspace }}
			{% endif %}
		</h2>
		<div style="clear: both;"></div>
		<p>
			{{ realty.total_space }} {% trans "m" %}&sup2;, 
			{% if realty.rooms_count %}{{ realty.rooms_count }} {% trans "rooms" %}, {% endif %}
			{{ realty.address }}
		</p>
		<div id='coin-slider'>
		{% for image in realty_images %}
			<a href="#"><img src="{{ image.normal.url }}"></a>			
		{% endfor %}
		</div>
	</div>
	{% if realty.description %}
	<p id="featured-text">
		{{ realty.description }}
	</p>
	{% endif %}
</div>

<div id="item-tabs">
	<ul class="tabs">
		<li><a href="#" class="current">{% trans "Description" %}</a></li>
		<li><a href="#">{% trans "Features" %}</a></li>
	</ul>
	<div class="panes">
		<div>
			{% if realty.long_description %}
			<div id="item-description">
				<p>
					{{ realty.long_description }}
				</p>
			</div>
			{% endif %}
			<div id="item-params">
				<div class="odd">
					<p><b>{% trans "Type" %}:</b> <span>{{ realty.realty_type }}</span></p>
				</div>
				<div class="even">
					<p><b>{% trans "Total area" %}: <span>{{ realty.total_space }}{% trans "m" %}&sup2;</span></b></p>
				{% if realty.living_space %}
					<p>{% trans "Living area" %}: <span>{{ realty.living_space }}{% trans "m" %}&sup2;</span></p>
				{% endif %}
				{% if realty.kitchen_space %}
					<p>{% trans "Kitchen" %}: <span>{{ realty.kitchen_space }}{% trans "m" %}&sup2;</span></p>
				{% endif %}
				</div>
				<div class="odd">
				{% if realty.rooms_count %}
					<p><b>{% trans "Rooms" %}: <span>{{ realty.rooms_count }}</span></b></p>
				{% endif %}
				{% if realty.bedrooms_count %}
					<p>{% trans "Bedrooms" %}: <span>{{ realty.bedrooms_count }}</span></p>
				{% endif %}
				{% if realty.bathrooms_count %}
					<p>{% trans "Bathrooms" %}: <span>{{ realty.bathrooms_count }}</span></p>
				{% endif %}
				</div>
				{% if realty.floor %}
				<div class="even">
					<p><b>{% trans "Floor" %}: <span>
						{{ realty.floor }} {% if realty.total_floos %} {% trans "of" %} {{ realty.total_floos }}{% endif %}
						</span>
					</b></p>
				</div>
				{% endif %}
			</div>
			<div style="clear: both;"></div>
		</div>
		{% if realty.features.all %}
		<div id="item-features">
		{% regroup all_features by feature_type as features %}
		{% for feature_type in features %}
			<h5>{{ feature_type.grouper }}:</h5>
			<ul>
			{% for feature in feature_type.list %}
				<li><p>
					<img src="/static/img/features_{% if feature in realty.features.all %}plus{% else %}minus{% endif %}.png" />
					{{ feature.name }}
				</p></li>
			{% endfor %}
			</ul>
		{% endfor %}
		</div>
		{% endif %}
	</div>
	

	<div id="item-buttons">
	{% if realty.id in favorites %}
		<a class="fav-button" id="faved" href="?favorite=false">{% trans "Bookmarked" %}</a>
	{% else %}
		<a class="fav-button" href="?favorite=true">{% trans "Add to bookmarks" %}</a>
	{% endif %}
		<a rel="#submit" class="button" href="#">{% trans "Apply" %}</a>
	</div>
</div>

<div class="overlay" id="submit">
	<div id="order-form-wrapper">
		<div id="order-form-header">
			<a href="javascript:void(0)" class="close"></a> <!-- close stuff-->
			<h6>
				{{ form.non_field_errors }} 
				{% trans "Good choice!" %}
			</h6>
		</div>
		<div id="order-form-body">
			<form action="{{ request.path }}" method="post" enctype="application/x-www-form-urlencoded" class="order" id="order_form">
				{% csrf_token %}
				<div class="row">
					<div class="error">{{ form.contact_person.errors }}</div>
					<label>{% trans "Contact person" %}:</label>
					{{ form.contact_person }}
				</div>
				<div class="row">				
					<div class="error">{{ form.phone.errors }}</div>
					<label>{% trans "Telephone" %}:</label>
					{{ form.phone }}
				</div>
				<div class="row">				
					<div class="error">{{ form.email.errors }}</div>
					<label>{% trans "E-mail" %}:</label>
					{{ form.email }}
				</div>
				<div class="row">
					<div class="error">{{ form.city.errors }}</div>
					<label>{% trans "City" %}:</label>
					{{ form.city }}
				</div>
				<div class="row">				
					<div class="error">{{ form.country.errors }}</div>
					<label>{% trans "Country" %}:</label>
					{{ form.country }}
				</div>
				<div class="row">				
					<div class="error">{{ form.comment.errors }}</div>
					<label>{% trans "Comments" %}:</label>
					{{ form.comment }}
				</div>
				<div class="row">				
					<div class="error">{{ form.find_method.errors }}</div>
					<label>{% trans "How did find us?" %}</label>
					{{ form.find_method }}
				</div>
				<div class="row">				
					<div class="error">{{ form.recaptcha.errors }}</div>
					<label>{% trans "Spam protection" %}:</label>
					<div id="capcha" style="float: left;margin-bottom: 1em;">{{ form.recaptcha }}</div>
				</div>
				<a class="button" style="float:right;" href="#" onclick="document.getElementById('order_form').submit()">{% trans "Apply" %}</a>
			</form>
		</div>
	</div>
</div>

{% endblock %}