<div>
{% load realty_tags %}
{% load util_tags %}
{% get_categories as categories %}
{% get_types as all_types %}
{% for category in categories %}
	<div id="{% cycle 'left' 'right' %}-switch-wrap">
		<a href="/{{ lang }}/realty/{% add_get list=types cat=category.slug %}" class="switch"
			{% if cat = category.slug %} id="selected"{% endif %}>
			{{ category.name }}
		</a>
	</div>
	{% endfor %}
	<form action="/{{ lang }}/realty/">
		<input type="hidden" name="cat" value="{{ cat }}" />
	{% for type in all_types %}
		<span>
			<input type="checkbox" onchange="this.form.submit();" 
				name="{{ type.slug }}" value="{{ type.slug }}" id="{{ type.slug }}" 
				{% if type.slug in types %} checked{% endif %}/>
			<label for="{{ type.slug }}">{{ type.name }}</label>
		</span>
	{% endfor %}
	</form>
</div>