{% extends "base.html" %}

{% block title %}Barma Spain - catalog{% endblock %}

{% block init_js %}
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=ru"></script>
	<script type="text/javascript" src="/static/js/maps.js"></script>
	{% autoescape off %}
	<script type="text/javascript">
		window.onload = initialize;
		function initialize() {
			var locations = {{ locations }}
			show_map_wiget(locations);	
		}
	</script>
	{% endautoescape %}
{% endblock %}
{% load i18n %}

{% block main_title %}
	{% if not is_favorite %}
		{% include "realty/realty_menu.html" %}
	{% else %}
		<h6>{% trans "Bookmarks" %}</h6>
	{% endif %}
{% endblock %}

{% block content %}
	<div id="items-list-header">
		<h4>{{ length }} {% trans "offers" %}</h4>
		<form action="{{ request.path }}">
			<label>{% trans "Sort by" %} </label>					
			{% if cat %}
			<input type="hidden" name="cat" id="cat" value="{{ cat }}" />
			{% endif %}
			{% if type %}
			<input type="hidden" name="type" id="type" value="{{ type }}" />
			{% endif %}
			<select name="sort" id="items-sort" onchange="this.form.submit();">
				<option value="price_unified"{% if sort == "price_unified" %} selected="selected"{% endif %}>
					{% trans "price (ascending)" %}
				</option>
				<option value="-price_unified"{% if sort == "-price_unified" %} selected="selected"{% endif %}>
					{% trans "price (decending)" %}
				</option>
				<option value="total_space"{% if sort == "total_space" %} selected="selected"{% endif %}>
					{% trans "total area" %}
				</option>
				<option value="city"{% if sort == "city" %} selected="selected"{% endif %}>
					{% trans "city" %}
				</option>
			</select>
		</form>
	</div>
	<div id="items-list">
		{% for realty in realty_page.object_list %}
			{% include "realty/realty_list_item.html" %}
		{% endfor %}						
	</div>
	
	{% if realty_page.paginator.num_pages > 1 %}
	<div id="items-pagination">
		<p>
		{% load util_tags %}        
        {% for linkpage in realty_page.paginator.num_pages|get_natural_range %}
			{% ifequal linkpage realty_page.number %}
				<a id="current-page">{{ linkpage }}</a>
			{% else %}
				<a href="{% add_get list=types cat=cat sort=sort page=linkpage %}">{{ linkpage }}</a>
			{% endifequal %}
		{% endfor %}
		</p>
	</div>
	{% endif %}
{% endblock %}

{% block maps_wiget %}
	{% include "util/map_widget.html" %}
{% endblock %}