{% extends "base.html" %}

{% block title %}Barma Spain - search{% endblock %}

{% block init_js %}
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=ru"></script>
	<script type="text/javascript" src="/static/js/maps.js"></script>
	{% autoescape off %}
	<script type="text/javascript">
		window.onload = initialize;
		function initialize() {
			var locations = {{ locations }}
			show_map_wiget(locations);	
		}
	</script>
	{% endautoescape %}
{% endblock %}

{% block main_title %}	
	<h6>Результаты поиска</h6>
{% endblock %}

{% block content %}	
	<div id="items-list">
		{% for realty in realty_page.object_list %}
			{% include "realty/realty_list_item.html" %}
		{% empty %}
			<div class="items-list-block">
				Поиск не дал результатов.
			</div>
		{% endfor %}						
	</div>
	{% if realty_page.paginator.num_pages > 1 %}
	<div id="items-pagination">
		<p>
		{% load util_tags %}
		
        {% for linkpage in realty_page.paginator.num_pages|get_natural_range %}
			{% ifequal linkpage realty_page.number %}
				<a id="current-page">{{ linkpage }}</a>
			{% else %}
				<a href="{% add_get addr=addr city=city room=room bath=bath bed=bed page=linkpage %}">{{ linkpage }}</a>
			{% endifequal %}
		{% endfor %}
		
		</p>
	</div>
	{% endif %}
{% endblock %}

{% block maps_wiget %}
	{% include "util/map_widget.html" %}
{% endblock %}