/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: visible; zoom: 1; position: relative; border: 9px solid #383838; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { display:none; font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 616px; padding: 10px; background-color: #000000; color: #FFFFFF; }
.cs-title p { font-size:1.25em; font-weight:bold; color:#FFFFFF;}

.cs-prev { width: 36px; height: 36px; background: url(../images/marker_left.png) 0 0 no-repeat; } 
.cs-prev:hover{ background-position: bottom; } 
.cs-next { width: 36px; height: 36px; background: url(../images/marker_right.png) 0 0 no-repeat; } 
.cs-next:hover{ background-position: bottom; }