body {
	background-color: #fff;
}
h1 {
	font-size: 28px;
	font-family: Helvetica, sans-serif; 
	font-weight: bold;
	color: #434343;
}
h1 a {
	color: #00a7fe;
	text-decoration: none;
}
h1 a:hover,
h1 a:active {
	text-decoration: underline;
}
h2 {
	font-size: 20px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #6f9655;
}
h6 {
	font-size: 12px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #616161;
}
p {
	font-size: 12px;
	font-family: Verdana, Tahoma, sans-serif; /*Helvetica Neue*/
	color: #525252;
}

div#header {
	width: 100%;
	min-height: 48px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #cbcbcb;
	background: transparent url('../img/header_tile.png') repeat-x;
}
div#header>div{
	width: 846px;
	max-width: 100%;
	margin: 0 auto;
}
#logo {		/*picture*/
	float: left;
	padding-left: 3px;
	padding-top: 8px;
	font-size: 2em;
	font-family: sans-serif;
}
#phone_number {
	font-family:Tahoma, Verdana, Arial, sans-serif;
	font-size: 24px;
	float:right;
	margin: 8px 1px 0 0;
}

#header-currency{
	float: right;
	margin-top: 16px;
	margin-right: 10px;
}
#language {
	float: right;
	margin-top: 16px;
	margin-right: 10px;
}

/*=== MENU ===*/
div#menu {
	clear: both;
	width: 846px;
	height: 38px;
	margin: 0 auto 12px auto;
	background: transparent url('../img/redline.png') no-repeat;
	text-align: center;
}
#menu img {
	vertical-align: middle;
	margin-bottom: 8px;
}
#menu a {
	margin: 0 10px;
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	color: #fff;
	letter-spacing: 0.01em;
	text-decoration: none;
	line-height: 38px;
}
#menu a:active,
#menu a:hover {	text-decoration: underline;}
#menu a#active {	font-weight: bold; letter-spacing: -1px;}

#menu a:hover span{	text-decoration: none!important;}

div#main-title  {
	width: 844px;
	margin: 0 auto;
	height: 45px;
	background: transparent url('../img/main_header_tile.png') repeat-x; 
	border: 1px solid #c4c3c3;
	border-bottom: none;
	-webkit-border-top-left-radius:  5px;
	-webkit-border-top-right-radius:  5px;
	-moz-border-radius-topleft:  5px;
	-moz-border-radius-topright:  5px;
	border-top-left-radius:  5px;
	border-top-right-radius:  5px;
	overflow: auto;
}
#main-title h6 {	
	padding: 15px 0 0 10px; 
	float: left;
}

#main-title > div {	
	margin-top: 8px;
	margin-left: 8px;
	float: left;
}
#main-title > div > form {	float:left;}
div#left-switch-wrap {
	overflow: auto;
	float: left;
	border: 1px solid #b2b1b1;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
div#right-switch-wrap{
	overflow: auto;
	float: left;
	border: 1px solid #b2b1b1;
	border-left: none;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#main-title a.switch {
	float: left;
	width: 95px;
	border-top: 1px solid #fcfcfc;
	border-left: 1px solid #fcfcfc;
	padding: 7px 0;
	background: #e1e1e1 url('../img/main-title-passive.png') repeat-x;
	font-size: 11px;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: #5a5a5a;
	text-decoration: none;
}
#main-title a.switch:hover {
	background: #d3d3d3 url('../img/main-title-hover.png') repeat-x;
	color: #838383;
}
#main-title a.switch:active {
	background: #c6c6c6 url('../img/main-title-active.png') repeat-x;
	font-size: 11px;
	padding-top: 7px;
	border-top: none;
	border-bottom: 1px solid #fcfcfc;
}
#main-title a#selected,
#main-title a#selected:hover,
#main-title a#selected:active {
	border-top: 1px solid #d1e74e;
	border-left: 1px solid #d1e74e;
	border-bottom: none;
	background: #97ca33 url('../img/main-title-selected.png') repeat-x;
	color: #fff;
}
#main-title span {
	position: relative;
	top: 6px;
	margin-left: 20px;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #404040;
}
#main-title span > input {
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
#main-title span > label {
	line-height: 16px; 
	padding: 0 0 1px 18px;
}
#main-title span > input + label {
	background: url('../img/unchecked.png') no-repeat;
	height: 16px;
}
#main-title span > input[type=checkbox]:checked + label {	background: url('../img/checked.png') no-repeat;}

div#main {
	overflow: hidden;
	width: 844px;
	margin: 0 auto 80px auto;
	border-top: 1px solid #c0bfbf;
	border-right: 1px solid #b8b8b7;
	border-bottom: 1px solid #dcdbdb;
	border-left: 1px solid #dcdbdb;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

div#content {
	float: left;
	width: 643px;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	background-color: #f6f6f6;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}

div#featured-item {	
	padding: 10px;
	border-bottom: 1px solid #d2d2d2; 
}
div#featured-item>div {
	padding: 10px;
	border: 1px solid #d2d2d2;
	margin-bottom: 5px;
	background-color: #fff;
}
#featured-description h1{	float: left;}
#featured-description h2{	
	float: right;
	padding-top: 6px;
}
#featured-image {
	width: 600px;
	margin-top: 10px;
	border: 1px solid #6e6e6e;
	display: block;
}
p#featured-text {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}
/*coin-slider*/
.coin-slider { overflow: hidden; zoom: 1; position: relative; border: 1px solid #6e6e6e; margin-top: 10px; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { display:none; font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 600px; padding: 10px; background-color: #000000; color: #FFFFFF; }
.cs-title p { font-size:1.25em; font-weight:bold; color:#FFFFFF;}

.cs-prev { width: 36px; height: 36px; background: url(../img/scroll_left.png) 0 0 no-repeat; } 
.cs-prev:hover{ background-position: bottom; } 
.cs-next { width: 36px; height: 36px; background: url(../img/scroll_right.png) 0 0 no-repeat; } 
.cs-next:hover{ background-position: bottom; }

/* related items */
div#related-items {	padding: 10px;}
#related-items h1 {
	float: left;
	margin-bottom: 5px;
}
#related-items #all-offers {
	float: right;
	font-size: 12px;
	font-family: Verdana, Tahoma, sans-serif;
	color: #616161;
}
#related-items li {
	float: left;
	width: 203px;
}
#related-items li + li {	padding-left: 6px;}

.all-offers-thumb {
	padding: 7px;
	border: 1px solid #d6d6d6;
	background: #fff;
}
.all-offers-thumb p{
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	color: #918f8f;
	overflow: hidden;
}
.all-offers-thumb a{
	font-size: 9pt;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #00a7fe;
	text-decoration: none;
}
.all-offers-thumb a:hover,
.all-offers-thumb a:active{
	text-decoration: underline;
}
.all-offers-thumb img{
	width: 185px;
	border: 1px solid #6e6e6e;
}
.all-offers-text {
	padding: 5px;
}
.all-offers-text .price-tag {
	margin-top: 5px;
	font-size: 12px;
	font-style: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #6e9655;
}

/* property search*/
div#property-picker {
	float: right;
	width: 200px;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	background-color: #dbded9;
	border-left: 1px solid #b9b8b8;
	-webkit-border-bottom-right-radius: 10px;;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}
/*#property-picker div + div {	border-top: 1px solid #b9b8b8;}*/
#property-picker h6 {
	line-height: 28px;
	background: #aaa url('../img/picker_header_tile.png') repeat-x;
	padding-left: 10px;
	border-bottom: 1px solid #b9b8b8;
}
#property-picker h6 > select {
	float: right;
	margin-top: 4px;
	max-width: 65px;
	margin-right: 5px;
}
#property-picker div.element {
	overflow: auto;
	padding: 10px 8px;
}
#property-picker select[name="city"] {	width: 100%;}

#price-min, #surface-min,
#price-max, #surface-max {
	background-color: #dbded9;
	text-align: left;
	font-size: 11px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: normal !important;
	color: #616161;
}
#price-min, #price-max {	width: 85px;}
#surface-min, #surface-max {	width: 60px;}
#price-min, #surface-min {	padding-left: 5px;}
#price-max, #surface-max {	float: right; text-align: right;}

#surface-range,#price-range {
	width: 180px;
	height: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
#surface-range a,#price-range a {
	width: 12px;
	height: 12px;
	border-color: #89c7f7;
	outline: none;
}
#rooms select {
	clear: right; float: right;
}
#property-picker label {
	line-height: 30px;
	font-size: 12px;
	font-family: Verdana, Tahoma, sans-serif;
	color: #616161;
}
#property-picker input[name="addr"] {	width: 180px;}
#property-picker .button {
	margin-left: 30px;
	margin-bottom: 30px;
	width: 120px;
	text-align: center;
}

/*FOOTER*/
div#footer {
	width: 846px;
	margin: 0 auto;
	text-align: center;
}
#footer ul {	width: 846px; margin: 0 auto; padding-top: 12px;}
#footer li {	display: inline;}
#footer li + li {	margin-left: 40px;}
#footer a {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #00a7fe;
}
#footer a:hover,
#footer a:active {
	color: #0091e9;
}
#footer p {
	margin: 20px 100px 0 0;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	text-align: right;
	color: #545252;
}

/*== place an order ==*/
#submit {
	display:none;
	z-index:10000;
}
div#order-form-wrapper{
	width: 580px;
	margin: 0 auto;
}
#order-form-header {
	position: relative;
	height: 45px;
	background: transparent url('../img/main_header_tile.png') repeat-x; 
	border: 1px solid #c4c3c3;
	border-bottom: none;
	-webkit-border-top-left-radius:  5px;
	-webkit-border-top-right-radius:  5px;
	-moz-border-radius-topleft:  5px;
	-moz-border-radius-topright:  5px;
	border-top-left-radius:  5px;
	border-top-right-radius:  5px;
}
#order-form-header h6 {	
	padding: 15px 0 0 10px;
	color: #299400;
}
#order-form-header a {	/*TODO: move it, shake it*/
	position: absolute;
	top: 10px;
	right: 10px;
	width: 12px;
	height: 12px;
	background: transparent url('../img/close_dark.png') no-repeat;
}
#order-form-header a:hover,
#order-form-header a:active {
	background: transparent url('../img/close_light.png') no-repeat;
}
#order-form-body {
	overflow: auto;
	border: 1px solid #c4c3c3;
	background-color: #fcfcfc;
	padding: 30px 20px;
}
div.row {
	width: 100%;
	font-size: 16px;
	font-family: Verdana, Tahoma, sans-serif;
	overflow: auto;
}
div.row + div.row {	margin-top: 18px;}

div.row label {
	float: left;
	width: 180px;
	margin-right: 8px;
	text-align: right;
}
div.row input {	width: 340px;}
div.row textarea {	
	width: 340px;
	max-width: 340px;
	height: 100px;
}
div.row select {	width: 340px;}
#order-form a {	
	float: right; 
	margin: 30px 10px 0 0;
}
div#captcha {	float: left;}

/*=== a slightly magnificent button ===*/
a.button {		/*TODO: gray outer border*/
	display: inline-block;
	padding: 6px 10px;
	border-top: 1px solid #d1e74e;
	border-right: 1px solid #d1e74e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #8cba2e url('../img/button-passive-tile.png') repeat-x;
	
	font-size: 12px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
a.button:hover {
	background: #8cba2e url('../img/button-hover-tile.png') repeat-x;
}
a.button:active {
	background: #8cba2e url('../img/button-active-tile.png') repeat-x;
	padding-top: 7px;
	padding-right: 11px;
	padding-bottom: 5px;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #d1e74e;
}

/*=== CATALOGUE/ITEMS LIST ===*/
#items-list-header {
	overflow: auto;
	background: #fff;
	padding: 10px;
	border-bottom: 1px solid #d9d9d9;
}
#items-list-header h4 {
	float: left;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	color: #dbdbdb;
}
#items-list-header form {
	float: right;
	font-size: 12px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #434343;
}
#items-pagination {
	padding: 7px;
	text-align: center;
}
#items-pagination a {
	font-size: 12px;
	color: #959595;
}
#items-pagination a+a { margin-left: 10px;}
#items-pagination a#current-page {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.items-list-block {
	position: relative;
	overflow: auto;
	padding: 10px 15px 10px 10px;
	background-color: #fafafa;
	border-bottom: 1px solid #c9c9c9;
	
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top, #f3f3f3 0%, #fcfcfc 6%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(6%,#fcfcfc), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#fcfcfc 6%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3f3f3 0%,#fcfcfc 6%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3f3f3 0%,#fcfcfc 6%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top, #f3f3f3 0%,#fcfcfc 6%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.items-list-thumb {
	float: left;
	padding: 5px;
	border: 1px solid #d8d8d8;
	margin-right: 10px;
	background-color: #fff;
}
.items-list-thumb img {
	display: block;
	width: 115px;
	height: 95px;
	border: 1px solid #929292;
}
.items-list-text h1 {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}
.items-list-text h1 span {
	float: right;
	font-size: 18px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #73995a;
}
.items-list-text h6 {
	padding-bottom: 10px;
	font-size: 11px;
	font-weight: normal;
	color: #918f8f;
}
.items-list-text p {
	width: 500px;
	font-size: 11px;
	line-height: 1.3em;
	color: #535353;
}

a.details {
	position: absolute;
	bottom: 10px;
	right: 15px;
}
/*=== ITEM! ===*/
/* Tabs for item page*/
#item-tabs {	padding: 10px;}
ul.tabs li {	display: inline-block;}
ul.tabs a{
	position: relative;
	top: 1px;
	display: block;
	padding: 10px 15px 10px 15px;
	border: 1px solid #d5d4d4;
	border-bottom: none;
	margin-left: 8px;
	background-color: #f2f2f2;
	font-size: 12px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #b4b4b4;
	text-decoration: none;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
ul.tabs a.current {	
	background-color:#fff;
	border-bottom: 1px solid #fff;
	color: #5d5d5d;
}
.panes {
	overflow: hidden;
	border: 1px solid #d5d4d4;
	background-color: #fff;
}
div#item-description {
	float: left;
	width: 325px;	
	padding: 17px;
}
div#item-description p {
	font-size: 11px;
	line-height: 1.4em;
}
div#item-params {
	float: right; 
	width: 255px;
	border-left: 1px solid #d5d4d4;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}
div#item-params .odd {	padding: 10px; background: #fff;}
div#item-params .even {	padding: 10px; background: #f0f4ed;}
div#item-params p {	width: 100%; line-height: 1.7em;}
div#item-params p b {	font-weight: bold;}
div#item-params p span {	float: right;}

/*=== ARTICLE ===*/
div#article {	
	padding: 10px;
	border-bottom: 1px solid #d2d2d2; 
}
div#article>div {
	padding: 10px;
	border: 1px solid #d2d2d2;
	margin-bottom: 5px;
	background-color: #fff;
}
#article h1 {
	color: #00a7fe;
	margin-bottom: 20px;
}
#article p {	margin-bottom: 20px;}
.article-picture {
	width: 600px;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 1px solid #6e6e6e;
	display: block;
}

/*features&mops*/
div#item-features {
	overflow: auto;
	padding: 15px 30px;
}

div#item-features h5{
	margin-left: 27px;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: Verdana, Tahoma, sans-serif;
	font-weight: bold;
	color: #434343;
}
div#item-features ul {
	overflow: auto;
	margin-bottom: 10px;
}
div#item-features li {
	float: left;
	width: 170px;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div#item-features img {	padding-right: 10px;}

div#item-buttons {
	float: right;
	margin: 10px 0;
}

#item-buttons  a.fav-button {
	background: transparent url('../img/heart_light.png') no-repeat;
	padding-left: 25px;
	padding-bottom: 2px;
	margin-right: 40px;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	color: #9f9f9f;
	text-decoration: none;
}
#item-buttons  a.fav-button:hover,
#item-buttons  a.fav-button:active {
	background: transparent url('../img/heart_dark.png') no-repeat;
	color: #808080;
}
#item-buttons  a#faved {
	background: transparent url('../img/heart_fave.png') no-repeat;
}