<div class="col-2">
	{% block maps_wiget %}
	{% endblock %}
	<div class="indent">
		<div class="box1">
			<div class="inner">
				{% load search_tags %}
				<h2>Найти недвижимость</h2>
				<form action="/search/" method="get" id="form">
					<div class="form">
						<label>Адрес</label>
						<input type="text" name="addr" placeholder="введите адрес" />
					</div>
					<div class="form">
						<label>Город</label>
						<div class="select1">
							<select>
								<option value="">не задан</option>
							{% get_city_values as cities %}
						    {% for city in cities %}
						    	<option>{{ city.name }}</option>
						    {% endfor %}
							</select>
						</div>
					</div>

					<div class="form">
						<label for="amount">Стоимость:</label>
						<input type="text" name="price" id="amount"/>
						<div id="slider-range"></div>
					</div>

					<div class="form">
						<label>Комнат</label>
						<div class="select1">
							<select name="room">
								<option value="">любое</option>
					        {% get_rooms_count_values as rooms %}
						    {% for room in rooms %}
						    	<option>{{ room.count }}</option>
						    {% endfor %} 
							</select>
						</div>
					</div>

					<div class="form">
						<label>Спальни</label>
						<div class="select1">
							<select name="bed">
								<option value="">любое</option>
					        {% get_bedrooms_count_values as bedrooms %}
						    {% for bedroom in bedrooms %}
						    	<option>{{ bedroom.count }}</option>
						    {% endfor %} 
							</select>
						</div>
					</div>
					
					<div class="form3">
						<label>Ванных</label>
						<div class="select1">
							<select name="bath">
								<option  value="">любое</option>
							{% get_bathrooms_count_values as bathrooms %}
						    {% for bathroom in bathrooms %}
						    	<option>{{ bathroom.count }}</option>
						    {% endfor %}
							</select>
						</div>
					</div>
					<div class="wrapper"><a href="#" class="link1" onclick="document.getElementById('form').submit()"><em><b>Найти</b></em></a></div>
				</form>
			</div>
		
		</div>
	</div>

</div>