{% extends "base.html" %}
{% load i18n %}
{% load util_tags %}
{% block main_title %}<h6>{% trans "Offer of the day" %}</h6>{% endblock %}

{% block init_js %}
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=ru"></script>
	<script type="text/javascript" src="/static/js/maps.js"></script>
	{% autoescape off %}
	<script type="text/javascript">
		window.onload = initialize;
		function initialize() {
			var locations = {{ locations }}
			show_map_wiget(locations);	
		}
	</script>
	{% endautoescape %}
{% endblock %}

{% block content %}
{% if request.session.curr %}
	{% load currency %}
{% endif %}
{% if realty %}
<div id="featured-item">
	<div id="featured-description">
		<h1><a href="/{{ lang }}/realty/{{ realty.slug }}">{{ realty.name }}</a></h1>
		<h2>
			{% if not request.session.curr %}
				{{ realty.currency.symbol }} {{ realty.price|floatformat:0|intspace }}
			{% else %}
				{{ request.session.curr.symbol }} {{ realty.price_unified|currency:request.session.curr|floatformat:0|intspace }}
			{% endif %}
		</h2>
		<div style="clear: both;"></div>
		<p>
			{{ realty.total_space }} {% trans "m" %}&sup2;, 
			{% if realty.rooms_count %}{{ realty.rooms_count }} {% trans "rooms" %}, {% endif %}
			{{ realty.address }}
		</p>
		{% if realty_image %}
		<img  id="featured-image" src="{{ realty_image.normal.url }}" />
		{% endif %}					
	</div>
	{% if realty.description %}
	<p id="featured-text">
		{{ realty.description }}
	</p>
	{% endif %}
</div>
{% endif %}

<div id="related-items">
	<h1>{% trans "Similar offersAll offers" %}</h1>
	<a id="all-offers" href="/realty/">{% trans "All offers" %}</a>
	<div style="clear: both;"></div>
	<ul>
		{% for realty in realty_list %}
		<li>
			<div class="all-offers-thumb">
				<p>
					<a href="/{{ lang }}/realty/{{ realty.slug }}">
					{% if realty.thumbnail %}
						<img src="{{ realty.thumbnail.url }}" />
					{% endif %}
						{{ realty.name }}
					</a>
				</p>
				<p>{{ realty.address }}</p>
			</div>
			<div class="all-offers-text">
			{% if realty.description %}
				<p>
					{{ realty.description }}
				</p>
			{% endif %}
				<p class="price-tag">
					{% if not request.session.curr %}
						{{ realty.currency.symbol }} {{ realty.price|floatformat:0|intspace }}
					{% else %}
						{{ request.session.curr.symbol }} {{ realty.price_unified|currency:request.session.curr|floatformat:0|intspace }}
					{% endif %}
				</p>
			</div>
		</li>
		{% endfor %}
	</ul>
	<div style="clear: both;"></div>
</div>  
{% endblock %}